{% extends 'base.html' %}
{% block content %}
<br><br>
<h3 style="text-align: left;">We have all been through times where we find some product intresting and seek to buy a similar product
    (i.e you might come across a beautiful piece of jewel online or any gadget on the web etc..).
It becomes pretty hard to find an exact match as it takes time and efforts to visit each store/website and search for 
a similar product.</h3><br>
<h3 style="text-align: left;">
    This application lets users posts images of the product they are looking for along with the 
    category and description(i.e the price range or the material of the product etc..)
    so that potential sellers or even other fellow users can see the posts.If that a similar product is available
    in their store or website,they leave in any business contact or links in the post specific comment-box.
</h3><br>
<h3 style="text-align: left;">
    The users can periodically login and check their posts for any comments that might help them find the product.
    They can even reply to the comments and can try to gather more information.</h3>
{% endblock %}